* {
  font-family: 'Open Sans', sans-serif;
}

.navbar-default {
  background-color: #012857;
  border-color: transparent;
  margin: 0;
}

.navbar-brand {
  float: left;
  padding: 10px 20px;
}

.ng-poland-logo-horizontal {
  height: 95%;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: rgba(255,255,255,0.30);
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: rgba(255,255,255,0.30);
}

.dropdown-menu {
  background-color: #012857;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #ffffff;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  background-color: rgba(255,255,255,0.30);
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.main-graphics {
  background-image: url("../images/ngPoland_main_graphics.png");
  height: 400px;
  margin-top: 40px;
  background-size: cover;
  background-position: center;
}

.header-1 {
  font-family: OpenSans-Semibold;
  font-size: 27px;
  color: #5C5C5C;
  letter-spacing: -1.25px;
  text-align: center;
}

.header-2 {
  font-family: OpenSans;
  font-size: 22px;
  color: #5C5C5C;
  letter-spacing: -0.96px;
  text-align: center;
}

.buttons-container {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.button-container {
  padding-top: 5px;
  padding-bottom: 5px;
}

.button-side {
  background-color: #E0323C;
  color: #ffffff;
  width: 150px;
}

.btn.focus, .btn:focus, .btn:hover {
    color: #ffffff;
    background-color: #C3040F;
}

hr {
  margin-left: 10px;
  margin-right: 10px;
}

.thumbnail {
  padding: 20px;
  border: transparent;
}

.why-ngPoland-icon {
  width: 100%;
  text-align: center;
  color: #E0323C;
}

.why-ngPoland-header {
  text-align: center;
}

.why-ngPoland-text {
  text-align: justify;
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 0;
  }
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
}
