* {
  font-family: 'Open Sans', sans-serif;
}

.navbar-default {
  background-color: #012857;
  border-color: transparent;
  margin: 0;
}

.navbar-brand {
  float: left;
  padding: 10px 20px;
}

.ng-poland-logo-horizontal {
  height: 95%;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: rgba(255,255,255,0.30);
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: rgba(255,255,255,0.30);
}

.dropdown-menu {
  background-color: #012857;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #ffffff;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  background-color: rgba(255,255,255,0.30);
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.main-graphics {
  background-image: url("../images/ngPoland_main_graphics.png");
  height: 400px;
  margin-top: 40px;
  background-size: cover;
  background-position: center;
}

.header-1 {
  font-family: OpenSans-Semibold;
  font-size: 27px;
  color: #5C5C5C;
  letter-spacing: -1.25px;
  text-align: center;
  margin-bottom: 30px;
}

.header-2 {
  font-family: OpenSans;
  font-size: 22px;
  color: #5C5C5C;
  letter-spacing: -0.96px;
  text-align: center;
}

.buttons-container {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.button-container {
  padding-top: 5px;
  padding-bottom: 5px;
}

.button-side {
  background-color: #E0323C;
  color: #ffffff;
  width: 150px;
}

.btn.focus, .btn:focus, .btn:hover {
    color: #ffffff;
    background-color: #666;
}

hr {
  margin-left: 10px;
  margin-right: 10px;
}

.why-ngPoland-container {
    margin-right: 0px;
    margin-left: 0px;
}

.thumbnail {
  border: transparent;
}

.why-ngPoland-icon {
  width: 100%;
  text-align: center;
  color: #E0323C;
}

.why-ngPoland-header {
  text-align: center;
}

.why-ngPoland-text {
  text-align: justify;
}

.ngPoland-2016-container {
    margin-right: 0px;
    margin-left: 0px;
}

.button-center {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #E0323C;
  color: #ffffff;
  width: 150px;
}

.stay-up-to-date {
  background-color: #E0323C;
}

.header-1-white {
  color: #ffffff;
  font-family: OpenSans-Semibold;
  font-size: 27px;
  letter-spacing: -1.25px;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 20px;
}

.google-form {
  margin-left: 10%;
}

.hr-white {
  border-top: 1px solid rgba(255,255,255,0.30);
}

.call-for-papers {
  padding-bottom: 10px;
}

.call-for-papers-container {
  margin-left: 0px;
  margin-right: 0px;
}

.call-for-papers-thumbnail {
  max-width: 60%;
  margin-left: 20%;
}

.call-for-papers-inside-caption {
  background-color: transparent;
}

.call-for-papers-icon {
  width: 100%;
  text-align: center;
  color: #ffffff;
}

.call-for-papers-header {
  text-align: center;
  color: #ffffff;
}

.call-for-papers-text {
  text-align: justify;
  color: #ffffff;
}

.button-center-2 {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #ffffff;
  color: #E0323C;
  width: 150px;
}

.header-1-blue {
  color: #012857;
  font-family: OpenSans-Semibold;
  font-size: 27px;
  letter-spacing: -1.25px;
  text-align: center;
  margin-bottom: 30px;
}

.ng-hero {
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #E7F4FA;
}

.ng-hero-container {
  margin-left: 0px;
  margin-right: 0px;
}

.ng-hero-thumbnail {
  max-width: 60%;
  margin-left: 20%;
}

.ng-hero-inside-caption {
  background-color: transparent;
}

.ng-hero-icon {
  width: 100%;
  text-align: center;
  color: #012857;
}

.ng-hero-header {
  text-align: center;
  color: #012857;
}

.ng-hero-text {
  text-align: justify;
  color: #012857;
}

.partners-container {
  margin-left: 0px;
  margin-right: 0px;
}

.partners-thumbnail {
  max-width: 90%;
  margin-left: 5%;
}

.partners-logos-container {
  max-width: 90%;
  margin-left: 5%;
}

.button-center-3 {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #012857;
  color: #E7F4FA;
  width: 150px;
}

.hr-blue {
  border-top: 1px solid #012857;
}

.ng-hero {
  padding-bottom: 10px;
  background-color: #E7F4FA;
}

.contact-link {
  color: inherit;
}

a:focus, a:hover {
    color: #000000;
    text-decoration: none;
}

.code-of-conduct-container {
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: 30px;
}

.code-of-conduct-thumbnail {
  max-width: 90%;
  margin-left: 5%;
}

.code-of-conduct-inside-caption {
  background-color: transparent;
}

.code-of-conduct-icon {
  width: 100%;
  text-align: center;
  color: #012857;
}

.code-of-conduct-header {
  text-align: center;
  color: #012857;
}

.code-of-conduct-text {
  text-align: justify;
  color: #012857;
}

.footer {
  background-color: rgba(92,92,92,0.08);
}

.footer-social-links {
   margin-right: 10px;
   margin-top: 10px;
   float: right;
}

.footer-social-link {
  padding: 4px;
}

.footer-links-container {
  max-width: 60%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
}

.footer-links-caption {
  padding-bottom: 2%;
}

.footer-link {
  color: #777;
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 0;
  }
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }

  .call-for-papers-thumbnail {
    max-width: 90%;
    margin-left: 5%
  }

  .ng-hero-thumbnail {
    max-width: 90%;
    margin-left: 5%
  }

}
